.menu {
  justify-content: space-evenly;
 display:flex;
  background-color: rgb(25, 217, 188);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: rgb(201, 241, 249,0.827);
}
body {
  background-color: rgba(201, 241, 249, 0.827);
}
.grid {
  
  display:flex;
  flex-wrap: wrap;
  align-content:center;
  justify-content:space-evenly ;
  
}

.grid img {

  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}
